body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  height: max(10vh, 100px);
  margin-bottom: 10px;
}
header h2{
  margin-bottom: 0;
}

.active{
  width:100%;
  margin-top:0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.sort#SortPrio,.sort#SortDate{
  background-color: rgb(65, 220, 47);
}

.Create {
  display: flex;
  flex-direction: column;
  margin: 16px;
  justify-content: center;
  align-items: center;
}

.Create button {
  width: 200px;
  height: 100px;
  background-color: rgb(0, 136, 255);
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 20px;
}

h2 {
  color: blue;
}

#form {
  display: flex;
  gap: 8px;
  margin-left: 8px;
}
input:invalid{
  border:2px solid red;
}
#prio{
  width:100px;
}
.Display {
  margin: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: repeat(auto-fit, 300px);
  gap:10px;
}

.card {
  border: 5px solid red;
}

.card h1 {
  text-align: center;
}

.card p {
  font-size: 20px;
  font-weight: 550;
}

.card>* {
  margin-left: 5px;
}

#buttondiv {
  display: inline-flex;
  width: 120px;
  margin-left: 10px;
  height: 50px;
  background-color: rgb(0, 94, 255);
  color: white;
  border-radius: 5px;
  border: none;
  align-items: center;
  justify-content: center;
}

#check {
  width: 14px !important;
  height: 14px !important;
  margin-left: 5px;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid gray;
  box-shadow: none;
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
  background: white;
}


#check:checked:after {
  content: '✔';
  color: blue;

}

#removebtn {
  margin: 10px;
  margin-left: 30px;
  background-color: red;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  color: white;
  border: none;
}